

.gif-container {
    position: relative;
    display: inline-block;
    width: 100%;
    aspect-ratio: 750 / 360; /* Aspect ratio of screenshot */
  }
  
  .gif-container .gif, 
  .gif-container .still {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: filter 0.3s ease;
  }
  
  .gif-container:hover .gif {
    opacity: 1;
    filter: grayscale(0%);
  }
  
  .gif-container:hover .still {
    opacity: 0;
  }
  
  .gif-container .gif {
    opacity: 0;
    filter: grayscale(100%);
  }
  
  .gif-container .still {
    opacity: 1;
    filter: grayscale(100%);
  }
  
  
  